<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>19/03/14 15:23:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getData2.testResponsecode()[pri:0, instance:getRequest.getData2@724af044]">testResponsecode</td> 
  <td>main@485041780</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>19/03/14 15:23:10</td>   <td>3114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getData2.testbody()[pri:0, instance:getRequest.getData2@724af044]">testbody</td> 
  <td>main@485041780</td>   <td></td> </tr>
</table>
